<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ورود</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fitness_app/main.css' %}">
</head>
<body class="login-page">
    <div class="login-container">
        <h2>ورود به حساب کاربری</h2>

        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">ورود</button>
        </form>

        <div class="back-link">
            <a href="/">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</body>
</html>
